
.Controls {
  width: 30%;
  background-color: #2f1d58;
  padding: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  color: white;
  height: 80vh;
  border: 1px solid white;
  margin: 0 0 30px;
}
.Controls > * {
  width:50%;
}
.Controls label {
  font-size: 15px;
  letter-spacing: 1px;
  display:block;
}
.AddDivBtn, .Controls input, .Controls select {
  width: 100%;
  margin: 5px 0 10px;
}
.AddDivBtn {
  background-color: lightgreen;
  cursor: pointer;
  border: 0;
  padding: 5px;
  height: 50px;
}
.DelDivBtn {
  background-color: lightcoral;
  cursor: pointer;
  border: 0;
  padding: 5px;
  height: 50px;
  width: 100%;
  margin: 5px 0 10px;
}
.Controls input, .Controls select {
  padding: 10px 10px;
}
.GenCode {
  padding: 10px;
  background-color: lightgreen;
  border: 0;
  cursor: pointer;
}
.GenCode:hover {
  background-color: green;
}

@media only screen and (max-width: 550px) {
  .Controls {
    width: 90%;
  }
}

@media only screen and (max-height: 500px) {
  .Controls {
    height: auto;
  }
}