.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.AppInfo {
  width: 100%;
  text-align: center;   
  margin: 10px 0;
  color: white;
}
.AppInfo p {
  font-size: 17px;
  margin: 5px 0;
}
.AppInfo .creator {
  color: orange;
}
.AppInfo .contribute {
  color: lightcoral;
}
.AppTitle {
  margin: 4px 0;
}

.FlexContainer {
  width: 65%;
  background-color: #2f1d58;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px 30px;
  height: 80vh;
  overflow: auto;
}

/* .FlexContainer > div {
  background-color: #dec58e;
  margin: 10px;
} */

@media only screen and (max-width: 550px) {
  .FlexContainer {
    width: 90%;
  }
}

@media only screen and (max-height: 500px) {
  .FlexContainer {
    height: auto;
  }
}