.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.AppInfo {
  width: 100%;
  text-align: center;   
  margin: 10px 0;
}
.AppInfo p {
  font-size: 17px;
  color: white;
  margin: 5px 0;
}
.AppInfo .creator {
  color: orange;
}
.AppInfo .contribute {
  color: lightcoral;
}
.AppTitle {
  color: white;
  margin: 4px 0;
}

.FlexContainer {
  width: 70vw;
  background-color: #2f1d58;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px 30px;
  height: 80vh;
  overflow: auto;
}
  width: 170px;
  height: 170px;

/* .FlexContainer > div {
  background-color: #dec58e;
  margin: 10px;
} */